{% load static %}
<link rel="stylesheet" href="{% static 'home/login.css' %}">



<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Customer &nbsp;Login</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>



		<div class="login-form">
			<form method="post">
				{% csrf_token %}
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label">Username</label>
					<input name="username" type="text" class="input" required>
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input name="password" type="password" class="input" data-type="password" required>
				</div>
				<br>
				<div class="group">
					<input type="submit" class="button" value="Login">
				</div>
			</div>	
			</form>
		</div>
	</div>
</div>