<h1>Driver PAYMENTS</h1>
{% load static %}
<link rel="stylesheet" href="{% static 'base2/mystyles.css' %}">




<div class="card">

        <div class="portada">
            <img src="" alt=""> 
        </div>

        <div class="driverdetail">
            <h1>milan martin</h1>
            <p>Location : <span>Mala</span></p>
            <p>Experience  : <span>2 years</span></p>
            <button>AVAILABLE</button>
            <button>UNAVAILABLE</button>
        </div>
        <div class="actions">
            <a href=""><div class="driveraction">Profile</div></a>
            <a href=""><div class="driveraction">Book NOW</div></a>
        </div>

        
</div>